<!DOCTYPE html>
<html>
  <head>
    <title>Atlas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet"
          type="text/css"
          href="//fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900" />
    <link rel="stylesheet"
          type="text/css"
          href="//fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" />

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "main" %>
    <%= javascript_pack_tag "mobility" %>
  </head>

  <body>
    <section class="sidebar">
      <div class="sidebar__logo">
        <%= image_tag("logo-main.png", alt: "Centro de Estudios Espinosa Yglesias", height: 200) %>
      </div>

      <ul class="menu">
        <li class="menu__item">
          <a href="#" class="menu__link">Introducción</a>
        </li>
        <li class="menu__item">
          <a href="<%= mobility_index_path %>" class="menu__link">Movilidad Social</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Introducción</a>
        </li>
      </ul>
    </section>

    <section class="header" id="header">
      <h1><span>ATLAS DE</span> MOVILIDAD SOCIAL</h1>
    </section>

    <section class="content" id="content">
      <div class="content__title"><%= yield(:title) %></div>
      <div class="content__body"><%= yield %></div>
    </section>

    <section class="footer" id="footer">
      <div class="row">
        <div class="offset-1 col-5 text-center">
          <%= image_tag("logo-white.png", height: 60) %>
        </div>
        <div class="col-5">
          <p id="test">CONTACTO</p>
          <ul class="list-unstyled">
            <li>Abasolo 152, Del Carmen, Coyoacán</li>
            <li>C.P. 04100. Ciudad de México</li>
            <li>Teléfonos: +52 (55) 56625447 / 56622370 / 56608031 / 56608051</li>
            <li>
              Email: <a href="mailto:contacto@ceey.org.mx">contacto@ceey.org.mx</a> /
              <a href="mailto:bolsatrabajo@ceey.org.mx">bolsatrabajo@ceey.org.mx</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__privacy">
        <%= link_to "Aviso de Privacidad", "#" %> © CEEY @2020
      </div>
    </section>
  </body>
</html>
